@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    background-color: #181818;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav {
    height: 70px;
    width: 100%;
    background-color: #000000;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

nav .container {
    display: flex;
    justify-content: space-between;
}

nav .logoContainer {
    width: 100%;
    height: 100%;
}

nav .navLeft,
nav .navRight {
    min-width: 150px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

nav .navLeft {
    display: flex;
    box-sizing: border-box;
    padding: 5px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

nav .navLeft {
    display: flex;
    gap: 20px;
}

nav .navRight {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

nav img {
    width: 150px;
    height: 100%;
}

.container {
    width: 80%;
    /* display: flex;
    flex-direction: column; */
}

/* Sign-in page */

.loginContainer {
    display: flex;
}

.loginImageContainer {
    width: 50%;
    height: 100vh;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginImageContainer img {
    max-width: 100%;
    max-height: 100%;
}

.loginBoxContainer {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.loginBox {
    width: 350px;
    height: 300px;
    background-color: #454558;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    row-gap: 20px;
}

.loginBox .loginFieldsContainer {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.loginBox #btnSignIn {
    width: 100%;
    margin: auto;
}

.loginBox a {
    color: #ffffff;
}

/* Sign Up page */
.signUpContainer {
    display: flex;
}

.signUpImageContainer {
    width: 50%;
    height: 100vh;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpImageContainer img {
    max-width: 100%;
    max-height: 100%;
}

.signUpBoxContainer {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.signUpBox {
    width: 350px;
    height: auto;
    background-color: #454558;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    row-gap: 20px;
}

.signUpBox .signUpFieldsContainer {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.signUpBox #btnSignUp {
    width: 100%;
    margin: auto;
}

.signUpBox a {
    color: #ffffff;
}

/* Games page */

.containerCaixaPesquisa {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.searchBox {
    background-color: rgba(69, 69, 88, 255);
    border-radius: 8px;
    width: 634px;
    height: 74px;
    display: flex;
    align-items: center;
}

.searchBox #iptSearch {
    /* opacity: 0.2; */
    border-radius: 8px;
    border: none;
    background-color: #454558;
    color: #ffffff;
    height: 90%;
    width: 100%;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px;
}

.searchBox img {
    width: 30px;
    height: 30px;
}

.searchBox button {
    height: 100%;
    background-color: transparent;
    border: none;
}

.gameList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    /* flex-direction: column; */
    background-color: #202020;
    box-sizing: border-box;
    padding: 25px 0px;
    border-radius: 10px;
}

.gameList .game {
    width: 200px;
    height: 230px;
    display: flex;
    flex-direction: column;
    /* background-color: #333333; */
    box-sizing: border-box;
    /* padding: 10px; */
    border-radius: 5px;
    color: white;
    box-shadow: 5px 10px 8px #000000;
    cursor: pointer;
}

.game .imageContainer {
    height: 55%;
    width: 100%;
    /* background-color: red; */
}

.game .imageContainer img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.game .gameInfoContainer {
    height: 45%;
    box-sizing: border-box;
    padding: 10px;
    background: rgb(51, 51, 51);
    background: linear-gradient(0deg, rgba(51, 51, 51, 1) 0%, rgba(51, 51, 51, 1) 65%, rgba(51, 51, 51, 0) 100%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.containerButtons {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Página de detalhes do jogo */

.containerGameDetails {
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gameDetailsContainer {
    background-color: #333333;
    height: 100%;
    border-radius: 15px;
    box-sizing: border-box;
}

.gameDetailsContainer .gameDetailsImageContainer {
    /* background-color: red; */
    /* height: 50%; */
    /* width: 100%; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-sizing: border-box;
    padding: 10px;
}

.gameDetailsContainer .gameDetailsImageContainer img{
    /* height: 100%; */
    width: 100%;
    /* border-top-left-radius: 15px; */
    /* border-top-right-radius: 15px; */
    border-radius: 15px;
}

.gameDetailsContainer .gameDetailsContainerBottom {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    /* padding: 10px; */
    padding: 0px 10px 10px 10px;
}

.gameDetailsContainer .gameDetailsInfo {
    /* background-color: blue; */
    min-height: 50%;
    width: 60%;
    border-bottom-left-radius: 15px;
    box-sizing: border-box;
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #191825;
}

.gameDetailsContainer .gameDetailsStatus {
    /* background-color: green; */
    min-height: 50%;
    width: 40%;
    border-bottom-right-radius: 15px;
    box-sizing: border-box;
    padding: 15px;
    border-top-right-radius: 15px;
    background-color: #252438;
    /* border-left: 3px double #ffffff; */
}

.gameDetailsContainer .gameDetailsStatus h3{
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}

/* My Games */

.containerMyGames {
    min-height: 100vh;
    background-color: #333333;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 15px;
}

.containerMyGames h1 {
    padding: 0;
    margin: 0;
    text-align: center;
}

.containerMyGames ul {
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.containerMyGames ul li {
    background-color: red;
    list-style: none;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    /* background: url('https://media.rawg.io/media/games/456/456dea5e1c7e3cd07060c14e96612001.jpg') no-repeat left center; */
    box-shadow: inset 0 0 0 1000px rgba(0,0,0, 0.7);
    /* background-size: cover; */
    background-color: rgba(0, 0, 0, 1);
    border-radius: 15px;
    margin-bottom: 10px;
}

/* Stats page */

.containerStats {
    background-color: #333333;
    min-height: 100vh;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.containerStats h1{
    text-align: center;
}

.containerStats h2 {
    text-align: center;
}

.statsBoxesContainer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
}

.statsBoxesContainer .statsBox {
    min-height: 150px;
    min-width: 150px;
    background-color: #191825;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    box-shadow: 5px 5px 8px #000000;
}

.statsBox span {
    font-size: 70px;
}

.statusChartContainer, .genresChartContainer {
    background-color: #CECDDF;
    border-radius: 15px;
    height: 300px;
    box-shadow: 5px 5px 8px #000000;
}

.favoriteGenreBox {
    width: 790px;
}